In [3]:
import pandas as pd 

data = pd.read_csv("points.csv")

In [4]:
data

     X   Y  Number Direction
0   28  42       1     North
1   27  46       2      East
2   16  22       3     South
3   40  50       4      West
4    8   6       5     North
5    6  19       6      East
6   28   5       7     South
7   39  36       8      West
8   12  34       9     North
9   36  20      10      East
10  22  47      11     South
11  33  19      12      West
12  41  18      13     North
13  41  34      14      East
14  14  29      15     South
15   6  49      16      West
16  46  50      17     North
17  17  40      18      East
18  28  26      19     South
19   2  12      20      West